## Importing Packages

In [1]:
#Importing packages
from nba_api.stats.static import players
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.endpoints import commonplayerinfo
from nba_api.stats.endpoints import playbyplayv2
import requests, pandas as pd, sys
# !{sys.executable} -m pip install tqdm
from tqdm import tqdm
import dateutil.parser as parser
import time
from datetime import datetime,  timedelta

In [2]:
#Creating header var for api pull
headers: dict[str, str]  = {
    'Connection': 'keep-alive',
    'Accept': 'application/json, text/plain, */*',
    'x-nba-stats-token': 'true',
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_14_6) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/79.0.3945.130 Safari/537.36',
    'x-nba-stats-origin': 'stats',
    'Sec-Fetch-Site': 'same-origin',
    'Sec-Fetch-Mode': 'cors',
    'Referer': 'https://stats.nba.com/',
    'Accept-Encoding': 'gzip, deflate, br',
    'Accept-Language': 'en-US,en;q=0.9',
}

In [4]:
# create function that gets pbp (play by play) logs from the 2020-21 season
def get_data(game_id) -> pd.DataFrame:
    play_by_play_url = "https://cdn.nba.com/static/json/liveData/playbyplay/playbyplay_"+game_id+".json"
    response = requests.get(url=play_by_play_url, headers=headers).json()
    play_by_play = response['game']['actions']
    df = pd.DataFrame(play_by_play)
    df['gameid'] = game_id
    return df

### Defining parameters for data pull

In [5]:
gamefinder = leaguegamefinder.LeagueGameFinder(season_nullable='2021-22',
                                               league_id_nullable='00',
                                               season_type_nullable='Regular Season')

### Retrieving Game Ids

In [6]:
games = gamefinder.get_data_frames()[0]

In [7]:
#getting a list of distinct game ids
game_ids = games['GAME_ID'].unique()

In [8]:
len(game_ids)

1230

In [9]:
pbpdata = []

In [10]:
#Here TDQM() creates a % completion bar
for game_id in tqdm(game_ids):
    game_data = get_data(game_id)
    pbpdata.append(game_data)

final_df = pd.concat(pbpdata, ignore_index=True)

100%|██████████| 1230/1230 [05:35<00:00,  3.67it/s]

## Instantiating Data Frame

In [11]:
final_df_copy = pd.DataFrame(final_df)

## Reviewing Column Names

In [12]:
#Primary columns in the DF
final_df_copy.columns

Index(['actionNumber', 'clock', 'timeActual', 'period', 'periodType',
       'actionType', 'subType', 'qualifiers', 'personId', 'x', 'y',
       'possession', 'scoreHome', 'scoreAway', 'edited', 'orderNumber',
       'xLegacy', 'yLegacy', 'isFieldGoal', 'side', 'description',
       'personIdsFilter', 'teamId', 'teamTricode', 'descriptor',
       'jumpBallRecoveredName', 'jumpBallRecoverdPersonId', 'playerName',
       'playerNameI', 'jumpBallWonPlayerName', 'jumpBallWonPersonId',
       'jumpBallLostPlayerName', 'jumpBallLostPersonId', 'shotDistance',
       'shotResult', 'shotActionNumber', 'reboundTotal',
       'reboundDefensiveTotal', 'reboundOffensiveTotal', 'pointsTotal',
       'assistPlayerNameInitial', 'assistPersonId', 'assistTotal',
       'officialId', 'turnoverTotal', 'stealPlayerName', 'stealPersonId',
       'foulPersonalTotal', 'foulTechnicalTotal', 'foulDrawnPlayerName',
       'foulDrawnPersonId', 'blockPlayerName', 'blockPersonId', 'value',
       'gameid'],
      dtype='object')

## Setting Pandas option to show all columns

In [14]:
pd.set_option('display.max_columns', None)

In [15]:
final_df_copy.head()

,actionNumber,clock,timeActual,period,periodType,actionType,subType,qualifiers,personId,x,y,possession,scoreHome,scoreAway,edited,orderNumber,xLegacy,yLegacy,isFieldGoal,side,description,personIdsFilter,teamId,teamTricode,descriptor,jumpBallRecoveredName,jumpBallRecoverdPersonId,playerName,playerNameI,jumpBallWonPlayerName,jumpBallWonPersonId,jumpBallLostPlayerName,jumpBallLostPersonId,shotDistance,shotResult,shotActionNumber,reboundTotal,reboundDefensiveTotal,reboundOffensiveTotal,pointsTotal,assistPlayerNameInitial,assistPersonId,assistTotal,officialId,turnoverTotal,stealPlayerName,stealPersonId,foulPersonalTotal,foulTechnicalTotal,foulDrawnPlayerName,foulDrawnPersonId,blockPlayerName,blockPersonId,value,gameid
0,2,PT12M00.00S,2022-04-11T01:41:52.8Z,1,REGULAR,period,start,[],0,NaN,NaN,0,0,0,2022-04-11T01:41:52Z,20000,NaN,NaN,0,None,Period Start,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022101219
1,4,PT11M56.00S,2022-04-11T01:41:55.9Z,1,REGULAR,jumpball,recovered,[],1629640,NaN,NaN,1610612759,0,0,2022-04-11T01:41:55Z,40000,NaN,NaN,0,None,Jump Ball J. Poeltl vs. D. Powell: Tip to K. J...,"[1629640, 1627751, 203939]",1.610613e+09,SAS,startperiod,K. Johnson,1629640.0,Johnson,K. Johnson,Poeltl,1627751.0,Powell,203939.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022101219
2,7,PT11M47.00S,2022-04-11T01:42:04.2Z,1,REGULAR,3pt,Jump Shot,[],1629640,31.882392,48.774510,1610612759,0,0,2022-04-11T01:42:28Z,70000,6.0,247.0,1,left,MISS K. Johnson 24' 3PT,[1629640],1.610613e+09,SAS,NaN,NaN,NaN,Johnson,K. Johnson,NaN,NaN,NaN,NaN,24.73,Missed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022101219
3,8,PT11M45.00S,2022-04-11T01:42:06.2Z,1,REGULAR,rebound,defensive,[],1629029,NaN,NaN,1610612742,0,0,2022-04-11T01:42:28Z,80000,NaN,NaN,0,None,L. Doncic REBOUND (Off:0 Def:1),[1629029],1.610613e+09,DAL,NaN,NaN,NaN,Doncic,L. Doncic,NaN,NaN,NaN,NaN,NaN,NaN,7.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022101219
4,9,PT11M26.00S,2022-04-11T01:42:25.2Z,1,REGULAR,3pt,Jump Shot,[],1628973,95.088699,4.656863,1610612742,3,0,2022-04-11T01:42:30Z,90000,-227.0,-6.0,1,right,J. Brunson 3PT (3 PTS) (L. Doncic 1 AST),"[1628973, 1629029]",1.610613e+09,DAL,NaN,NaN,NaN,Brunson,J. Brunson,NaN,NaN,NaN,NaN,22.68,Made,NaN,NaN,NaN,NaN,3.0,L. Doncic,1629029.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022101219

# Data Manipulation and Formating

### Checking data types

In [16]:
### Transforming data types
final_df_copy.dtypes

actionNumber                  int64
clock                        object
timeActual                   object
period                        int64
periodType                   object
actionType                   object
subType                      object
qualifiers                   object
personId                      int64
x                           float64
y                           float64
possession                    int64
scoreHome                    object
scoreAway                    object
edited                       object
orderNumber                   int64
xLegacy                     float64
yLegacy                     float64
isFieldGoal                   int64
side                         object
description                  object
personIdsFilter              object
teamId                      float64
teamTricode                  object
descriptor                   object
jumpBallRecoveredName        object
jumpBallRecoverdPersonId    float64
playerName                   object
playerNameI                  object
jumpBallWonPlayerName        object
jumpBallWonPersonId         float64
jumpBallLostPlayerName       object
jumpBallLostPersonId        float64
shotDistance                float64
shotResult                   object
shotActionNumber            float64
reboundTotal                float64
reboundDefensiveTotal       float64
reboundOffensiveTotal       float64
pointsTotal                 float64
assistPlayerNameInitial      object
assistPersonId              float64
assistTotal                 float64
officialId                  float64
turnoverTotal               float64
stealPlayerName              object
stealPersonId               float64
foulPersonalTotal           float64
foulTechnicalTotal          float64
foulDrawnPlayerName          object
foulDrawnPersonId           float64
blockPlayerName              object
blockPersonId               float64
value                        object
gameid                       object
dtype: object

### Converting time values (clock and period) to get total time passed in a game

In [17]:
# Need to use columns:  Period and Clock to determine what time in the game it is (Clock counts down per period)
# period_to_total_time 

# create a fucntion and use map to apply it to the new column

def period_to_time_conversion(value) -> int:
    # final_df_copy['period_to_time'] = 0

    if value == 1:
        return 0
    elif value == 2:
        return 12
    elif value == 3:
        return 24
    else:
        return 36

final_df_copy['period_to_time'] = final_df_copy['period'].map(period_to_time_conversion)

In [20]:
# Replaces clock
parsed_time = datetime.strptime('PT10M56.00S', 'PT%MM%S.00S')
print(parsed_time)
print(datetime(year =1900, month=1, day=1, hour=0, minute=12, second=0))
# This is a baseline for each period total time
subtracts = datetime(year =1900, month=1, day=1, hour=0, minute=12, second=0)
# final = parsed_time - timedelta.total_seconds(minutes=12)
final2 = subtracts - parsed_time
final2
print(timedelta(seconds = final2.seconds))

1900-01-01 00:10:56
1900-01-01 00:12:00
0:01:04

### This works and gets correct result!

In [23]:
x = datetime(year =1900, month=1, day=1, hour=0, minute=12, second=0)
values_array = final_df_copy.clock.astype(str).str[0:7]
time_passed_seconds = x - pd.to_datetime(values_array, format='PT%MM%S')
values_array
time_passed_seconds

0        0 days 00:00:00
1        0 days 00:00:04
2        0 days 00:00:13
3        0 days 00:00:15
4        0 days 00:00:34
               ...
691870   0 days 00:11:49
691871   0 days 00:12:00
691872   0 days 00:12:00
691873   0 days 00:12:00
691874   0 days 00:12:00
Name: clock, Length: 691875, dtype: timedelta64[ns]

In [24]:
def time_conversion(unparsed_timearray):
    x = datetime(year =1900, month=1, day=1, hour=0, minute=12, second=0)
    values_array = unparsed_timearray[0:7]
    time_passed_total = x - pd.to_datetime(values_array, format='PT%MM%S')
    return time_passed_total

final_df_copy['time_passed_in_seconds'] = final_df_copy['clock'].map(time_conversion)

In [71]:
final_df_copy[final_df_copy.stealPlayerName != pd.notnull ].head(5)

,actionNumber,clock,timeActual,period,periodType,actionType,subType,qualifiers,personId,x,y,possession,scoreHome,scoreAway,edited,orderNumber,xLegacy,yLegacy,isFieldGoal,side,description,personIdsFilter,teamId,teamTricode,descriptor,jumpBallRecoveredName,jumpBallRecoverdPersonId,playerName,playerNameI,jumpBallWonPlayerName,jumpBallWonPersonId,jumpBallLostPlayerName,jumpBallLostPersonId,shotDistance,shotResult,shotActionNumber,reboundTotal,reboundDefensiveTotal,reboundOffensiveTotal,pointsTotal,assistPlayerNameInitial,assistPersonId,assistTotal,officialId,turnoverTotal,stealPlayerName,stealPersonId,foulPersonalTotal,foulTechnicalTotal,foulDrawnPlayerName,foulDrawnPersonId,blockPlayerName,blockPersonId,value,gameid,period_to_time,time_passed_in_seconds
0,2,PT12M00.00S,2022-04-11T01:41:52.8Z,1,REGULAR,period,start,[],0,NaN,NaN,0,0,0,2022-04-11T01:41:52Z,20000,NaN,NaN,0,None,Period Start,[],NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022101219,0,0 days 00:00:00
1,4,PT11M56.00S,2022-04-11T01:41:55.9Z,1,REGULAR,jumpball,recovered,[],1629640,NaN,NaN,1610612759,0,0,2022-04-11T01:41:55Z,40000,NaN,NaN,0,None,Jump Ball J. Poeltl vs. D. Powell: Tip to K. J...,"[1629640, 1627751, 203939]",1.610613e+09,SAS,startperiod,K. Johnson,1629640.0,Johnson,K. Johnson,Poeltl,1627751.0,Powell,203939.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022101219,0,0 days 00:00:04
2,7,PT11M47.00S,2022-04-11T01:42:04.2Z,1,REGULAR,3pt,Jump Shot,[],1629640,31.882392,48.774510,1610612759,0,0,2022-04-11T01:42:28Z,70000,6.0,247.0,1,left,MISS K. Johnson 24' 3PT,[1629640],1.610613e+09,SAS,NaN,NaN,NaN,Johnson,K. Johnson,NaN,NaN,NaN,NaN,24.73,Missed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022101219,0,0 days 00:00:13
3,8,PT11M45.00S,2022-04-11T01:42:06.2Z,1,REGULAR,rebound,defensive,[],1629029,NaN,NaN,1610612742,0,0,2022-04-11T01:42:28Z,80000,NaN,NaN,0,None,L. Doncic REBOUND (Off:0 Def:1),[1629029],1.610613e+09,DAL,NaN,NaN,NaN,Doncic,L. Doncic,NaN,NaN,NaN,NaN,NaN,NaN,7.0,1.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022101219,0,0 days 00:00:15
4,9,PT11M26.00S,2022-04-11T01:42:25.2Z,1,REGULAR,3pt,Jump Shot,[],1628973,95.088699,4.656863,1610612742,3,0,2022-04-11T01:42:30Z,90000,-227.0,-6.0,1,right,J. Brunson 3PT (3 PTS) (L. Doncic 1 AST),"[1628973, 1629029]",1.610613e+09,DAL,NaN,NaN,NaN,Brunson,J. Brunson,NaN,NaN,NaN,NaN,22.68,Made,NaN,NaN,NaN,NaN,3.0,L. Doncic,1629029.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022101219,0,0 days 00:00:34

In [35]:
final_df_copy.columns

Index(['actionNumber', 'clock', 'timeActual', 'period', 'periodType',
       'actionType', 'subType', 'qualifiers', 'personId', 'x', 'y',
       'possession', 'scoreHome', 'scoreAway', 'edited', 'orderNumber',
       'xLegacy', 'yLegacy', 'isFieldGoal', 'side', 'description',
       'personIdsFilter', 'teamId', 'teamTricode', 'descriptor',
       'jumpBallRecoveredName', 'jumpBallRecoverdPersonId', 'playerName',
       'playerNameI', 'jumpBallWonPlayerName', 'jumpBallWonPersonId',
       'jumpBallLostPlayerName', 'jumpBallLostPersonId', 'shotDistance',
       'shotResult', 'shotActionNumber', 'reboundTotal',
       'reboundDefensiveTotal', 'reboundOffensiveTotal', 'pointsTotal',
       'assistPlayerNameInitial', 'assistPersonId', 'assistTotal',
       'officialId', 'turnoverTotal', 'stealPlayerName', 'stealPersonId',
       'foulPersonalTotal', 'foulTechnicalTotal', 'foulDrawnPlayerName',
       'foulDrawnPersonId', 'blockPlayerName', 'blockPersonId', 'value',
       'gameid', 'period_to_time', 'time_passed_in_seconds'],
      dtype='object')

In [ ]:
# Creating a function to create new column with total time passed in game
def total_time_passed(time_passed_in_period: datetime, period_passed_to_minutes: datetime):
    period_minutes = pd.to_datetime(final_df_copy.period_to_time, format='%M')
    minutes_in_period = final_df_copy.time_passed_in_seconds
    return period_minutes + minutes_in_period

In [ ]:
final_df_copy['Total_time_passed_in_game'] = map(total_time_passed,final_df_copy.period_to_time, final_df_copy.time_passed_in_seconds)

# Tackle true shooting percentage of all players each game?
### This should be ppossible
# Formula is below:

<!-- TS% = PTS/(2*(FGA+.44*FTA)) -->

In [79]:
#Changing column to int data type
final_df_copy.assistPersonId = final_df_copy.assistPersonId.astype('Int64')

# Creating a dict for mapping object of names and ids
playerid_and_player_initials_dict_assists =dict(zip(final_df_copy.assistPlayerNameInitial.values, final_df_copy.assistPersonId))
playerid_and_player_initials_dict_playername_to_personid =dict(zip(final_df_copy.playerNameI.values, final_df_copy.personId))
playerid_and_player_initials_dict_combined = playerid_and_player_initials_dict_assists | playerid_and_player_initials_dict_playername_to_personid

In [80]:
playerid_and_player_initials_dict_combined

{nan: 0,
 'L. Doncic': 1629029,
 'J. Brunson': 1628973,
 'D. Murray': 1627749,
 'T. Jones': 1630200,
 'D. Finney-Smith': 1627827,
 'D. Vassell': 1630170,
 'Z. Collins': 1628380,
 'S. Dinwiddie': 203915,
 'K. Bates-Diop': 1628966,
 'D. Powell': 203939,
 'J. Richardson': 1626196,
 'J. Green': 1630224,
 'K. Johnson': 1629640,
 'R. Bullock': 203493,
 'J. Primo': 1630563,
 'T. Pinson': 1629033,
 'T. Burke': 203504,
 'B. Marjanovic': 1626246,
 'M. Wright': 1630589,
 'E. Fournier': 203095,
 'O. Anunoby': 1628384,
 'A. Burks': 202692,
 'S. Barnes': 1630567,
 'I. Quickley': 1630193,
 'G. Trent Jr.': 1629018,
 'C. Boucher': 1628449,
 'M. Flynn': 1630201,
 'F. Hunt': 1630624,
 'T. Young': 1629027,
 'J. Sims': 1630579,
 'O. Toppin': 1630167,
 'Y. Watanabe': 1629139,
 'K. Birch': 203920,
 'P. Achiuwa': 1630173,
 'R. Arcidiacono': 1627853,
 'D. Green': 203110,
 'N. Marshall': 1630230,
 'C. McCollum': 203468,
 'J. Poole': 1629673,
 'K. Looney': 1626172,
 'M. Moody': 1630541,
 'N. Bjelica': 202357,
 'J. Toscano-Anderson': 1629308,
 'G. Clark': 1629109,
 'K. Thompson': 202691,
 'T. Snell': 203503,
 'J. Harper': 1629607,
 'J. Kuminga': 1630228,
 'W. Hernangomez': 1626195,
 'T. Murphy III': 1630530,
 'Q. Weatherspoon': 1629683,
 'D. Lee': 1627814,
 'M. Conley': 201144,
 'B. Williams': 1630314,
 "R. O'Neale": 1626220,
 'B. McLemore': 203463,
 'R. Perry': 1629617,
 'K. Blevins': 1629833,
 'G. Brown III': 1630535,
 'J. Clarkson': 203903,
 'J. Hernangomez': 1627823,
 'R. Gay': 200752,
 'R. Gobert': 203497,
 'C. Elleby': 1629604,
 'D. Louzada': 1629712,
 'H. Whiteside': 202355,
 'J. Butler': 1630215,
 'D. House Jr.': 1627863,
 'N. Alexander-Walker': 1629638,
 'X. Sneed': 1630270,
 'P. Beverley': 201976,
 'P. Williams': 1630172,
 'M. Beasley': 1627736,
 'A. Dosunmu': 1630245,
 'J. McLaughlin': 1629162,
 'M. Hill': 1630792,
 'T. Bradley': 1628396,
 'J. McDaniels': 1630183,
 'G. Monroe': 202328,
 'J. Okogie': 1629006,
 'J. Vanderbilt': 1629020,
 'A. Edwards': 1630162,
 'J. Nowell': 1629669,
 'T. Brown Jr.': 1628972,
 'L. Bolmaro': 1630195,
 'D. Jones Jr.': 1627884,
 'N. Knight': 1630233,
 'M. Wright IV': 1630593,
 'M. Fultz': 1628365,
 'D. Robinson': 1629130,
 'V. Oladipo': 203506,
 'R. Hampton': 1630181,
 'M. Wagner': 1629021,
 'R. Lopez': 201577,
 'O. Yurtseven': 1630209,
 'G. Vincent': 1629216,
 'I. Brazdeikis': 1629649,
 'D. Cannady': 1629962,
 'J. Smart': 1630606,
 'M. Bamba': 1628964,
 'H. Highsmith': 1629312,
 'M. Mulder': 1628539,
 'U. Haslem': 2617,
 'L. Ball': 1630163,
 'T. Satoransky': 203107,
 'T. Rozier': 1626179,
 'M. Bridges': 1628969,
 'M. Plumlee': 203486,
 'R. Hachimura': 1629060,
 'A. Gill': 1630264,
 'K. Oubre Jr.': 1626162,
 'M. Harrell': 1626149,
 'C. Martin': 1628998,
 'D. Avdija': 1630166,
 'I. Smith': 202397,
 'D. Gafford': 1629655,
 'I. Todd': 1630225,
 'R. Neto': 203526,
 'I. Thomas': 202738,
 'P. Washington': 1629023,
 'C. Kispert': 1630557,
 'C. Winston': 1630216,
 'S. Bey': 1630180,
 'T. Harris': 202699,
 'I. Stewart': 1630191,
 'I. Livers': 1630587,
 'F. Korkmaz': 1627788,
 'S. Lee': 1630240,
 'P. Reed': 1630194,
 'S. Milton': 1629003,
 'C. Edwards': 1629035,
 'L. Garza': 1630568,
 'B. Key': 1630296,
 'K. Hayes': 1630165,
 'T. Maxey': 1630178,
 'D. Jordan': 201599,
 'R. McGruder': 203585,
 'I. Joe': 1630198,
 'M. Thybulle': 1629680,
 'D. Mitchell': 1628378,
 'T. Lyles': 1626168,
 'H. Barnes': 203084,
 'D. Jones': 1627745,
 'C. Johnson': 1629661,
 'T. Craig': 1628470,
 'E. Payton': 203901,
 'C. Metu': 1629002,
 'G. Lundberg': 1630994,
 'D. DiVincenzo': 1628978,
 'A. Holiday': 1628988,
 'J. McGee': 201580,
 'L. Shamet': 1629013,
 'J. Holiday': 201950,
 'B. Biyombo': 202687,
 'A. Rivers': 203085,
 'T. Horton-Tucker': 1629659,
 'A. Reaves': 1630559,
 'D. Cousins': 202326,
 'B. Forbes': 1627854,
 'B. Hyland': 1630538,
 'V. Cancar': 1628427,
 'F. Campazzo': 1630267,
 'M. Monk': 1628370,
 'M. Howard': 1630210,
 'D. Augustin': 201571,
 'S. Johnson': 1626169,
 'M. Jones': 1630222,
 'D. Reed': 1628432,
 'M. McClung': 1630644,
 'W. Gabriel': 1629117,
 'Z. Nnaji': 1630192,
 'A. Sengun': 1630578,
 'D. Gallinari': 201568,
 'K. Huerter': 1628989,
 'J. Tate': 1630256,
 'B. Bogdanovic': 202711,
 'J. Christopher': 1630528,
 'D. Nwaba': 1628021,
 'D. Wright': 1626153,
 'K. Porter Jr.': 1629645,
 'U. Garuba': 1630586,
 'O. Okongwu': 1630168,
 'K. Durant': 201142,
 'T. Haliburton': 1630169,
 'K. Irving': 202681,
 'T. McConnell': 204456,
 'B. Brown': 1628971,
 'L. Stephenson': 202362,
 'N. Claxton': 1629651,
 'T. Taylor': 1630678,
 'G. York': 1628221,
 'B. Hield': 1627741,
 'O. Brissett': 1629052,
 'P. Mills': 201988,
 'D. Theis': 1628464,
 'K. Anderson': 203937,
 'D. Melton': 1629001,
 'M. Smart': 203935,
 'X. Tillman': 1630214,
 'D. White': 1628401,
 'J. Konchar': 1629723,
 'S. Aldama': 1630583,
 'G. Williams': 1629684,
 'J. Brown': 1627759,
 'J. Tatum': 1628369,
 'A. Horford': 201143,
 'Z. Williams': 1630533,
 'J. Culver': 1629633,
 'L. Kornet': 1628436,
 'P. Pritchard': 1630202,
 'S. Hauser': 1630573,
 'Y. Pons': 1630582,
 'B. Thomas': 1630271,
 'M. Fitts': 1630238,
 'C. LeVert': 1627747,
 'E. Mobley': 1630596,
 'J. Carter': 1628975,
 'D. Garland': 1629636,
 'L. Wigginton': 1629623,
 'K. Love': 201567,
 'T. Antetokounmpo': 203648,
 'R. Rondo': 200765,
 'J. Nwora': 1629670,
 'S. Mamukelashvili': 1630572,
 'C. Osman': 1626224,
 'R. Tucker': 1629730,
 'L. Stevens': 1630205,
 'I. Okoro': 1630171,
 'B. Goodwin': 1629164,
 'D. Windler': 1629685,
 'Z. Simpson': 1630285,
 'T. Mann': 1630544,
 'L. Kennard': 1628379,
 'A. Coffey': 1629599,
 'J. Hoard': 1629658,
 'I. Zubac': 1627826,
 'I. Hartenstein': 1628392,
 'X. Moon': 1629875,
 'R. Hood': 203918,
 'M. Frazier Jr.': 1628982,
 'B. Boston Jr.': 1630527,
 'G. Kalaitzakis': 1630686,
 'I. Roby': 1629676,
 'V. Krejci': 1630249,
 'N. Batum': 201587,
 'P. George': 202331,
 'R. Jackson': 202704,
 'M. Morris Sr.': 202694,
 'J. Lamb': 203087,
 'N. Powell': 1626181,
 'J. Jackson': 1628367,
 'N. Queta': 1629674,
 'R. Covington': 203496,
 'S. Adams': 203500,
 'D. Brooks': 1628415,
 'D. Graham': 1628984,
 'J. Alvarado': 1630631,
 'B. Clarke': 1629634,
 'D. Bane': 1630217,
 'J. Hayes': 1629637,
 'J. Morant': 1629630,
 'G. Temple': 202066,
 'J. Harden': 201935,
 'J. Embiid': 203954,
 'D. Washington Jr.': 1630613,
 'O. Porter Jr.': 203490,
 'J. Wieskamp': 1630580,
 'J. Landale': 1629111,
 'A. Iguodala': 2738,
 'L. Walker IV': 1629022,
 'D. Cacok': 1629719,
 'T. Herro': 1629639,
 'D. Dedmon': 203473,
 'B. Adebayo': 1628389,
 'K. Lowry': 200768,
 'T. Luwawu-Cabarrot': 1627789,
 'N. Vucevic': 202696,
 'Z. LaVine': 203897,
 'C. White': 1629632,
 'D. DeRozan': 201942,
 'R. Barrett': 1629628,
 'M. McBride': 1630540,
 'T. Gibson': 201959,
 'P. Siakam': 1627783,
 'K. Martin Jr.': 1630231,
 'G. Mathews': 1629726,
 'D. Nix': 1630227,
 'A. Brooks': 1629717,
 'C. Paul': 101108,
 'D. Booker': 1626164,
 'D. Ayton': 1629028,
 'J. Crowder': 203109,
 'D. Bertans': 202722,
 'E. Hughes': 1630190,
 'D. Howard': 2730,
 'W. Ellington': 201961,
 'G. Antetokounmpo': 203507,
 'K. Middleton': 203114,
 'F. Jackson': 1628402,
 'K. Olynyk': 203482,
 'W. Matthews': 202083,
 'C. Cunningham': 1630595,
 'G. Hill': 201588,
 'P. Connaughton': 1626192,
 'S. Curry': 201939,
 'K. Edwards': 1630556,
 'A. Drummond': 203083,
 'M. Morris': 1628420,
 'J. Jackson Jr.': 1628991,
 'N. Jokic': 203999,
 'W. Barton': 203115,
 'A. Gordon': 203932,
 'K. Dunn': 1627739,
 'H. Jones': 1630529,
 'J. Valanciunas': 202685,
 'D. Eubanks': 1629234,
 'L. Nance Jr.': 1626204,
 'J. Suggs': 1630591,
 'C. Okeke': 1629643,
 'J. Bouknight': 1630547,
 'J. Thor': 1630550,
 'B. Portis': 1626171,
 'A. Wiggins': 203952,
 'G. Payton II': 1627780,
 'J. Poeltl': 1627751,
 'N. Reid': 1629675,
 'K. Towns': 1626157,
 'R. Langford': 1629641,
 'T. Thompson': 202684,
 'D. Hunter': 1629631,
 'K. Porzingis': 204001,
 'K. Caldwell-Pope': 203484,
 'T. Forrest': 1630235,
 'L. Waters III': 1630322,
 'C. Payne': 1626166,
 'I. Wainright': 1630688,
 'L. Markkanen': 1628374,
 'F. Wagner': 1630532,
 'A. Caruso': 1627936,
 'G. Allen': 1628960,
 'M. Strus': 1629622,
 'P. Tucker': 200782,
 'F. VanVleet': 1627832,
 'D. Banton': 1630625,
 'L. Williams': 101150,
 'O. Sarr': 1630846,
 'J. Anderson': 1626147,
 'J. Smith': 1630188,
 'L. Aldridge': 200746,
 'A. Davis': 203076,
 'C. Anthony': 2546,
 'R. Westbrook': 201566,
 'D. Russell': 1626156,
 'T. Prince': 1627752,
 'B. Ingram': 1627742,
 'I. Jackson': 1630543,
 'G. Bitadze': 1629048,
 'A. Pokusevski': 1630197,
 'T. Maledon': 1630177,
 'A. Bradley': 202340,
 'Q. Grimes': 1629656,
 'T. Ross': 203082,
 'A. Nesmith': 1630174,
 'E. Davis': 202334,
 'G. Niang': 1627777,
 'G. Hayward': 202330,
 'C. Thomas': 1630560,
 'C. Capela': 203991,
 'J. Johnson': 201949,
 'L. James': 2544,
 'B. Fernando': 1628981,
 'M. Chriss': 1627737,
 'A. Schofield': 1629678,
 'S. Ibaka': 201586,
 'J. Robinson-Earl': 1630526,
 'J. Pickett': 1630691,
 'M. Bagley III': 1628963,
 'C. Joseph': 202709,
 'G. Dieng': 203476,
 'S. Mays': 1630219,
 'G. Dragic': 201609,
 'K. Sykes': 1626208,
 'M. Kleber': 1628467,
 'R. Nembhard Jr.': 1630612,
 'M. Robinson': 1629011,
 'J. Randle': 203944,
 'T. Ariza': 2772,
 'K. Bazemore': 203145,
 'W. Carter Jr.': 1628976,
 'J. Dowtin': 1630288,
 'C. Chiozza': 1629185,
 'J. Layman': 1627774,
 'E. Paschall': 1629672,
 'F. Ntilikina': 1628373,
 'T. Watford': 1630570,
 'D. Schroder': 203471,
 'S. Mykhailiuk': 1629004,
 'D. Bazley': 1629647,
 'A. Len': 203458,
 'C. Wood': 1626174,
 'E. Gordon': 201569,
 'J. Grant': 203924,
 'B. Lopez': 201572,
 'R. Williams III': 1629057,
 'N. Stauskas': 203917,
 'S. Brown': 1628425,
 'G. Harris': 203914,
 'P. Millsap': 200794,
 'J. Winslow': 1626159,
 'S. Gilgeous-Alexander': 1628983,
 'B. Griffin': 201933,
 'D. Sabonis': 1627734,
 'J. Hart': 1628404,
 'K. Knox II': 1628995,
 'K. Kuzma': 1628398,
 'T. Wallace': 1627820,
 'M. Brogdon': 1627763,
 'S. Ojeleye': 1628400,
 'D. Fox': 1628368,
 'R. Holmes': 1626158,
 'T. Bryant': 1628418,
 'K. Tillie': 1629681,
 'M. Harkless': 203090,
 'D. Wade': 1629731,
 'C. Duarte': 1630537,
 'J. Collins': 1628381,
 'H. Diallo': 1628977,
 'D. Bembry': 1627761,
 'T. Queen': 1630243,
 'C. Reddish': 1629629,
 'D. McDermott': 203926,
 'A. Simons': 1629014,
 'A. Johnson': 1628993,
 'I. Bonga': 1629067,
 'J. Champagnie': 1630551,
 'D. Duke Jr.': 1630561,
 'D. Wilson': 1628391,
 'D. Sharpe': 1630549,
 'T. Frazier': 204025,
 'J. Allen': 1628386,
 'W. Cauley-Stein': 1626161,
 'J. Giddey': 1630581,
 'D. Favors': 202324,
 'K. Walker': 202689,
 'M. Thomas': 1629744,
 'J. Nurkic': 203994,
 'C. Brown Jr.': 1630602,
 'T. Jerome': 1629660,
 'K. Williams': 1629026,
 'L. Dort': 1629652,
 'D. Smith Jr.': 1628372,
 'J. Ramsey': 1630186,
 'L. King': 1629663,
 'E. Freedom': 202683,
 'M. Brown': 1629650,
 'K. Guy': 1629657,
 'N. Richards': 1630208,
 'N. Noel': 203457,
 'M. Diakite': 1629603,
 'E. Bledsoe': 202339,
 'C. Silva': 1629735,
 'M. Muscala': 203488,
 'R. Woodard II': 1630218,
 'J. Ingles': 204060,
 'B. Beal': 203078,
 'K. Jones': 1630539,
 'J. Scrubb': 1630206,
 'N. Little': 1629642,
 'T. Davis': 1629056,
 'T. Hardaway Jr.': 203501,
 'A. McKinnie': 1628035,
 'C. Bassey': 1629646,
 'M. Powell': 1629619,
 'C. Stanley': 1630199,
 'J. Ennis III': 203516,
 'D. Mathias': 1629751,
 'D. Dotson': 1629653,
 'M. Turner': 1626167,
 'C. Zeller': 203469,
 'T. Johnson': 204020,
 'A. Lamb': 1630237,
 'J. Morris': 1628537,
 'F. Gillespie': 1630273,
 'L. Galloway': 204038,
 'D. Jeffries': 1629610,
 'P. Watson': 1628778,
 'J. Robinson': 1629620,
 'J. Teske': 1630257,
 'H. Gravett': 1629755,
 'K. Pangos': 1630698,
 'M. Walker': 1630640,
 'E. Terry': 1629150,
 'J. Paige': 1629873,
 'D. Walton Jr.': 1628476,
 'B. Bol': 1629626,
 'D. Lillard': 203081,
 'C. McGriff': 1630787,
 'C. Jones': 1630637,
 'C. Oliver': 1628419,
 'B. Wanamaker': 202954,
 'M. Newman': 1629005,
 'S. Buchanan': 1629783,
 'C. Hutchison': 1628990,
 'S. Hopson': 203816,
 'C. Barber': 1627760,
 'D. Collison': 201954,
 'K. Okpala': 1629644,
 'M. Garrett': 1630585,
 'C. Sword': 1628591,
 'G. Deck': 1630466,
 'T. Waters': 1629682,
 'R. Rubio': 201937,
 'D. Valentine': 1627756,
 'J. Parker': 203953,
 'B. Knight': 202688,
 'J. Cumberland': 1629600,
 'A. Ford': 1630758,
 'J. Ayayi': 1630555,
 'J. Morgan': 1629752,
 'T. Fall': 1629605,
 'E. Mudiay': 1626144,
 'D. Sirvydis': 1629686,
 'S. Cooper': 1630536,
 'W. Selden': 1627782,
 'K. Martin': 1629103,
 'S.Harrison': 1627885,
 'D. Rose': 201565,
 'S. Lewis': 1630575,
 'M. Oni': 1629671,
 'T. Cook': 1629076,
 'K. Lewis Jr.': 1630184,
 'S. Hill': 203524,
 'E. Omoruyi': 1630647,
 'P. Cornelie': 1627822,
 'P. Dozier': 1628408,
 'E. Kanter': 202683,
 'A. Nader': 1627846,
 'F. Kaminsky': 1626163,
 'J. Harris': 203925,
 'S. Merrill': 1630241,
 'C. Sexton': 1629012,
 'J. Huff': 1630643,
 'M. Porter Jr.': 1629008,
 'V. Carey Jr.': 1630176,
 'J. Schakel': 1630648,
 'A. Kulboka': 1629083,
 'M. Ryan': 1630346,
 'U. Azubuike': 1628962,
 'M. Simonovic': 1630250,
 'Z. Cheatham': 1629597,
 'N. Pelle': 203658,
 'A. Henry': 1630565,
 'J. Bell': 1628395,
 'P. Bass': 1628238,
 'M. Potter': 1630695,
 'A. Caver': 1629958,
 'N. Hinton': 1630207,
 'R. Edwards': 1630306,
 'D. Oturu': 1630187,
 'J. DeLaurier': 1629602,
 'G. King': 1628994,
 'T. Terry': 1630179,
 'W. Iwundu': 1628411,
 'J. Echenique': 1630693,
 'J. Goodwin': 1630692,
 'C. Diallo': 1627767,
 'T. Palmer': 1629309,
 'S. Harrison': 1627885,
 'J. Springer': 1630531,
 'T. Scott': 1630286,
 'M. Mooney': 1629760,
 'T. Hall': 1629788,
 'J. Jones': 1629203,
 'B. Johnson': 1629168,
 'A. Murkey': 1630278,
 'C. Miles': 101139,
 'J.Ennis': 203516,
 'D. Johnson': 1630525,
 'S. Doumbouya': 1629635,
 'D. Jarreau': 1630610,
 'S. Dekker': 1626155}

In [39]:
#Calculating TS%
# TS% = PTS/(2*(FGA+.44*FTA))

# final_df_copy[['actionType', 'subType', 'PlayerNameI', 'shotResult', 'assistPlayerNameInitial', 'Turnovers']]
# Need to pull description and parse out the persons name who commited the turn over
#The can be accomplished by parsing the sentence within the 'Description' and pulling B. Griffin as an example in the beginning character strings

# OR 

# Use actionType = "turnover" and grab the FIRST id from the personidsFilter and count the occurance of those ids per person


# below validates my theory that this is always the first person mentioned that is the one who commited the turnover
final_df_copy.description[final_df_copy.turnoverTotal == 1].head(30)

7                      L. Doncic bad pass TURNOVER (1 TO)
23       J. Poeltl bad pass out-of-bounds TURNOVER (1 TO)
32                    J. Brunson bad pass TURNOVER (1 TO)
51                     D. Powell bad pass TURNOVER (1 TO)
141                    D. Murray bad pass TURNOVER (1 TO)
160             Z. Collins offensive foul TURNOVER (1 TO)
203                   R. Bullock bad pass TURNOVER (1 TO)
252               J. Richardson lost ball TURNOVER (1 TO)
288                   D. Vassell bad pass TURNOVER (1 TO)
395                     J. Green bad pass TURNOVER (1 TO)
408                 S. Dinwiddie bad pass TURNOVER (1 TO)
468                    T. Pinson bad pass TURNOVER (1 TO)
515               B. Marjanovic lost ball TURNOVER (1 TO)
541                  I. Quickley bad pass TURNOVER (1 TO)
554                    A. Brooks bad pass TURNOVER (1 TO)
570                   O. Anunoby bad pass TURNOVER (1 TO)
661                     F. Hunt traveling TURNOVER (1 TO)
689                     J. Sims lost ball TURNOVER (1 TO)
691                     M. Flynn bad pass TURNOVER (1 TO)
709       T. Young bad pass out-of-bounds TURNOVER (1 TO)
710                    A. Burks lost ball TURNOVER (1 TO)
731                    O. Toppin bad pass TURNOVER (1 TO)
753     G. Trent Jr. lost ball out-of-bounds TURNOVER ...
812      S. Barnes bad pass out-of-bounds TURNOVER (1 TO)
897      T. Gibson bad pass out-of-bounds TURNOVER (1 TO)
911             P. Achiuwa offensive foul TURNOVER (1 TO)
956          S. Mykhailiuk offensive foul TURNOVER (1 TO)
1023              R. Arcidiacono bad pass TURNOVER (1 TO)
1050                   J. Poole lost ball TURNOVER (1 TO)
1063    N. Marshall lost ball out-of-bounds TURNOVER (...
Name: description, dtype: object

In [26]:
#Notes for to dos for this data set
# --Look at % of makes of shots based on distance
# --What duo had the most assits to dunks in the NBA
# --Calculate true shooting % of all players? using apply? or creating a function... probably this
#     #TS% - True Shooting Percentage; the formula is PTS / (2 * TSA). True shooting percentage is a measure of shooting efficiency that takes into account field goals, 3-point field goals, and free throws.
#     #TSA - True Shooting Attempts; the formula is FGA + 0.44 * FTA.

# -- Most points in the clutch (under 3 minutes left when a game is within 5 points)
# -- Teams shooting % 2PT vs 3PT
# --best assist to turn over ratio
# --

#### - Might have to seperate TIMEACTUAL field into date and time

## THIS IS ANALYSIS

In [27]:
#Looking at shots taken from rounded distances
final_df_copy.loc[:,['shotDistance']].round().value_counts()#.sort_index()

shotDistance
26.0            22892
2.0             19249
25.0            18937
1.0             16445
3.0             13577
                ...
82.0                1
83.0                1
84.0                1
88.0                1
89.0                1
Length: 87, dtype: int64

In [28]:
#breaking down shot distance and the % of total shots made from the distance
final_df_copy.loc[:, ['shotResult']].value_counts()

shotResult
Made          141587
Missed        128907
dtype: int64

In [29]:
final_df_copy['actionType'].unique()

array(['period', 'jumpball', '3pt', 'rebound', '2pt', 'foul', 'freethrow',
       'turnover', 'timeout', 'stoppage', 'block', 'substitution',
       'steal', 'violation', 'instantreplay', 'game', 'memo', 'ejection'],
      dtype=object)

In [30]:
#pulling rows where actionType = 'block'
final_df_copy[final_df_copy.actionType == 'block']

,actionNumber,clock,timeActual,period,periodType,actionType,subType,qualifiers,personId,x,y,possession,scoreHome,scoreAway,edited,orderNumber,xLegacy,yLegacy,isFieldGoal,side,description,personIdsFilter,teamId,teamTricode,descriptor,jumpBallRecoveredName,jumpBallRecoverdPersonId,playerName,playerNameI,jumpBallWonPlayerName,jumpBallWonPersonId,jumpBallLostPlayerName,jumpBallLostPersonId,shotDistance,shotResult,shotActionNumber,reboundTotal,reboundDefensiveTotal,reboundOffensiveTotal,pointsTotal,assistPlayerNameInitial,assistPersonId,assistTotal,officialId,foulPersonalTotal,foulTechnicalTotal,foulDrawnPlayerName,foulDrawnPersonId,turnoverTotal,blockPlayerName,blockPersonId,stealPlayerName,stealPersonId,value,gameid,period_to_time
51,71,PT05M51.00S,2022-04-10T19:53:02.1Z,1,REGULAR,block,NaN,[],203991,NaN,NaN,1610612745,13,20,2022-04-10T19:53:04Z,690000,NaN,NaN,0,None,C. Capela BLOCK (1 BLK),[203991],1.610613e+09,ATL,NaN,NaN,NaN,Capela,C. Capela,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022101221,0
64,86,PT04M08.00S,2022-04-10T19:55:13.0Z,1,REGULAR,block,NaN,[],1629726,NaN,NaN,1610612737,15,25,2022-04-10T19:55:17Z,840000,NaN,NaN,0,None,G. Mathews BLOCK (1 BLK),[1629726],1.610613e+09,HOU,NaN,NaN,NaN,Mathews,G. Mathews,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022101221,0
115,144,PT00M02.10S,2022-04-10T20:05:35.0Z,1,REGULAR,block,NaN,[],1628021,NaN,NaN,1610612737,24,35,2022-04-10T20:06:47Z,1430000,NaN,NaN,0,None,D. Nwaba BLOCK (1 BLK),[1628021],1.610613e+09,HOU,NaN,NaN,NaN,Nwaba,D. Nwaba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022101221,0
261,319,PT10M38.00S,2022-04-10T20:51:18.6Z,3,REGULAR,block,NaN,[],1630256,NaN,NaN,1610612737,64,73,2022-04-10T20:51:21Z,3170000,NaN,NaN,0,None,J. Tate BLOCK (1 BLK),[1630256],1.610613e+09,HOU,NaN,NaN,NaN,Tate,J. Tate,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022101221,24
274,333,PT09M37.00S,2022-04-10T20:52:46.7Z,3,REGULAR,block,NaN,[],1630578,NaN,NaN,1610612737,66,73,2022-04-10T20:52:49Z,3310000,NaN,NaN,0,None,A. Sengun BLOCK (1 BLK),[1630578],1.610613e+09,HOU,NaN,NaN,NaN,Sengun,A. Sengun,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022101221,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
691748,547,PT09M34.00S,2021-10-20T01:31:36.3Z,4,REGULAR,block,NaN,[],1626192,NaN,NaN,1610612751,99,90,2021-10-20T01:31:39Z,5410000,NaN,NaN,0,None,P. Connaughton BLOCK (1 BLK),[1626192],1.610613e+09,MIL,NaN,NaN,NaN,Connaughton,P. Connaughton,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022100001,36
691773,578,PT07M46.00S,2021-10-20T01:37:35.2Z,4,REGULAR,block,NaN,[],1629670,NaN,NaN,1610612751,106,93,2021-10-20T01:37:38Z,5680000,NaN,NaN,0,None,J. Nwora BLOCK (1 BLK),[1629670],1.610613e+09,MIL,NaN,NaN,NaN,Nwora,J. Nwora,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022100001,36
691786,595,PT06M45.00S,2021-10-20T01:40:09.9Z,4,REGULAR,block,NaN,[],203507,NaN,NaN,1610612751,112,95,2021-10-20T01:40:13Z,5850000,NaN,NaN,0,None,G. Antetokounmpo BLOCK (2 BLK),[203507],1.610613e+09,MIL,NaN,NaN,NaN,Antetokounmpo,G. Antetokounmpo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022100001,36
691804,613,PT05M14.00S,2021-10-20T01:45:13.8Z,4,REGULAR,block,NaN,[],201142,NaN,NaN,1610612749,112,95,2021-10-20T01:45:17Z,6030000,NaN,NaN,0,None,K. Durant BLOCK (2 BLK),[201142],1.610613e+09,BKN,NaN,NaN,NaN,Durant,K. Durant,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022100001,36
691860,678,PT00M57.00S,2021-10-20T01:55:28.3Z,4,REGULAR,block,NaN,[],1628971,NaN,NaN,1610612749,125,104,2021-10-20T01:55:31Z,6657500,NaN,NaN,0,None,B. Brown BLOCK (1 BLK),[1628971],1.610613e+09,BKN,NaN,NaN,NaN,Brown,B. Brown,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0022100001,36

In [31]:
#take shotDistance, actionType is 2pt and 3pt, shotResult is Missed or Made
all_actions = pd.DataFrame(final_df_copy.loc[:, ["shotDistance", "actionType", "shotResult"]])

In [32]:
all_actions

        shotDistance actionType shotResult
0                NaN     period        NaN
1                NaN   jumpball        NaN
2              22.72        3pt     Missed
3                NaN    rebound        NaN
4              26.48        3pt       Made
...              ...        ...        ...
691870           NaN   turnover        NaN
691871         29.71        3pt     Missed
691872           NaN    rebound        NaN
691873           NaN     period        NaN
691874           NaN       game        NaN

[691875 rows x 3 columns]

In [33]:
shots_df = all_actions[(all_actions.shotResult.isin(['Missed', 'Made'])) & (all_actions.actionType.isin(['2pt', '3pt']))]

In [34]:
shots_df

        shotDistance actionType shotResult
2              22.72        3pt     Missed
4              26.48        3pt       Made
5              18.69        2pt       Made
6              19.20        2pt     Missed
8               5.10        2pt     Missed
...              ...        ...        ...
691862          6.99        2pt     Missed
691864          0.00        2pt     Missed
691867          1.31        2pt       Made
691868         26.60        3pt     Missed
691871         29.71        3pt     Missed

[216713 rows x 3 columns]

In [35]:
shots_df.sort_index(axis = 1, inplace = True)
shots_df = shots_df.round()

C:\Users\zman7\AppData\Local\Temp\ipykernel_15316\717320966.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  shots_df.sort_index(axis = 1, inplace = True)

In [36]:
#shots_df.shotResult.replace(['Missed', 0], ['Made', 1])
shots_df['shotResult'] = shots_df.shotResult.replace(['Missed','Made'], [0, 1])

In [37]:
shots_df.shotResult.value_counts()

0    116783
1     99930
Name: shotResult, dtype: int64

In [38]:
def percentcalc(x):
    for i in shots_df[shots_df.shotResult]:
        if shots_df[shots_df.shotResult == 'Made']:
            return 1
        else:
            return 0

In [39]:
# shots_df.map(percentcalc)

In [42]:
# shots_grouped.shotResult.sum()

## Analyzing what players has the most assits to a dunk

In [ ]:
#looking into what player has assisted the most dunks in the nba (or per team)
assists = final_df[(final_df.subType == 'DUNK') & (final_df.periodType == 'REGULAR')].loc[:,['assistPlayerNameInitial','playerNameI','teamTricode', 'teamId' ]]

In [ ]:
#adding new col with combined player
assists = assists[pd.notnull(assists.assistPlayerNameInitial)]

In [ ]:
assists['assistor-assiste'] = assists.assistPlayerNameInitial + '  to  ' + assists.playerNameI

In [41]:
# assists.columns()

In [ ]:
assistsfinal = assists.loc[: ,['teamTricode','assistor-assiste']].sort_values(by=['teamTricode'])

In [ ]:
assists_grouped = assistsfinal.groupby(['teamTricode','assistor-assiste'])['assistor-assiste'].count()

In [ ]:
assists_grouped

teamTricode  assistor-assiste
ATL          B. Bogdanovic  to  C. Capela      10
             B. Bogdanovic  to  J. Collins      5
             B. Bogdanovic  to  K. Huerter      1
             B. Bogdanovic  to  N. Knight       3
             B. Bogdanovic  to  O. Okongwu      2
                                               ..
WAS          R. Westbrook  to  R. Hachimura    31
             R. Westbrook  to  R. Lopez        13
             R. Westbrook  to  T. Bryant        6
             T. Brown Jr.  to  R. Westbrook     1
             T. Brown Jr.  to  T. Bryant        1
Name: assistor-assiste, Length: 2248, dtype: int64